@import './../../scss/partials/variables';
@import './../../scss/partials/mixins';

.header {
    background-color: $pink;
    color: $white;

    ul {
        display: initial;
    }

    a {
        @include hover(all, 200ms, ease-in);
        color: $white;
        display: block;
        padding: $default-padding;
        text-decoration: none;

        &:hover {
            @include hover(all, 200ms, ease-in);
            background-color: lighten($pink, 10);
            color: $white;
        }
    }
}

@include tablet($tablet-size) {

    .header {

        ul {
            display: flex;
            justify-content: center;

            a {
                @include padding-xy;
            }
        }
    }
}
