@import '../../scss/partials/variables';
@import '../../scss/partials/mixins';

.header {
    background-color: $pink;
    color: $white;
    z-index: $z-high;

    a {
        @include hover(all, 200ms, ease-in);
        color: $white;
        padding: $default-padding;
        text-decoration: none;

        &:hover {
            @include hover(all, 200ms, ease-in);
            background-color: lighten($pink, 10);
            color: $white;
        }
    }

    .sale {

        &:hover {
            background-color: $white;
            color: $red;
        }
    }

    .icon-navigation {
        display: flex;
        right: $default-spacer;
        top: 0.5rem;

        a {
            background-color: transparent;
        }
    }

    .ion-navicon,
    .icon-navigation a {
        font-size: $icon-font-size;
    }
}

@include tablet($tablet-size) {

    .header {

        ul {
            display: flex;
            justify-content: center;
        }

        .main-navigation a {
            @include padding-xy;
            display: block;
        }

        .icon-navigation {
            top: 1.4rem;
        }
    }
}
