@import './../../scss/partials/variables';
@import './../../scss/partials/mixins';

.header {
    background-color: $pink;
    color: $white;

    a {
        @include hover(all, 200ms, ease-in);
        color: $white;
        padding: $default-padding;
        text-decoration: none;

        &:hover {
            @include hover(all, 200ms, ease-in);
            background-color: lighten($pink, 10);
            color: $white;
        }
    }

    .sale {

        &:hover {
            background-color: $white;
            color: $red;
        }
    }

    .ion-navicon {
        font-size: $icon-font-size;
    }
}

@include tablet($tablet-size) {

    .header ul {
        display: flex;
        justify-content: center;

        ul a {
            @include padding-xy;
            display: block;
        }
    }
}
