@import './../../scss/partials/variables';

footer {
    background-color: $mid-grey;
    bottom: 0;
    padding: $default-padding;
    position: fixed;

    span {
        color: $white;
    }

    .copyright {
        bottom: 0.4rem;
        right: 1rem;
    }

    ul {
        display: flex;

        li {
            flex-direction: row;
            margin-right: $default-spacer;
        }

        a:link,
        a:visited {
            color: $white;
        }
    }
}
