@import './../../scss/partials/variables';
@import './../../scss/partials/mixins';

.products {
    @include padding-xy;
    background-color: $palest-grey;
    height: 100vh;
}

@include tablet($tablet-size) {

    .products {
        padding: $default-padding;
    }
}
